
<div class="login-box">

    <div style='background: url("src/assets/images/chagamLogo.png") no-repeat; width: 200px; height: 200px'></div>
    <div class="the-image"></div>
    <form action="">
        <input type="text" placeholder="Full name" id="name" onclick="resetBtn()" maxlength="30"/>
        <input type="text" placeholder="Email" id="email" onclick="resetBtn()" maxlength="30"/>
        <input type="password" placeholder="password" id="pass" onclick="resetBtn()" minlength="8"/>
        <button type="submit" id="loginbtn" onclick="resetBtn()" >Login</button>
    </form>

</div>

